<ng-template #confirmDeleteAlly let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Remover o monstro aliado do combate</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Tem certeza que deseja remover o aliado <span class="text-primary">{{player.name}} #{{i +1}}</span> do combate?</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="removeAlly(j)">Confirmar</button>
    </div>
</ng-template>
