<div>
  <!--#####################--Dice Roller--############################-->
  <app-dice-roll-container *ngIf="rolling"></app-dice-roll-container>


  <!--#####################Place List ################################-->
  <app-place-list></app-place-list>
  
  <!--#####################--Toolbar--############################-->
  <div class="menu-toolbar">
    <div class="difficult-alert" [ngClass]="{'easy':combatState.dificult == 1, 
      'medium': combatState.dificult == 2,
      'hard': combatState.dificult == 3,
      'deadly': combatState.dificult == 4 }">
      <strong>{{combatLevel}}</strong>
    </div>
    <app-combaat-turn-order></app-combaat-turn-order>
    <app-combat-counter></app-combat-counter>
  </div>

  <!--#####################--Combat Grid--##########################-->
  <app-grid-board></app-grid-board>

  <!--#####################--Players Queue--##########################-->
  <div class="players-container">
    <div *ngFor="let player of combatState.allyQueue; index as j">
        <app-monster-card  [monster]="player" (click)="open(sheetAlly)"></app-monster-card>
        <ng-template #sheetAlly let-modal>
            <div class="modal-header">
                <h4 class="modal-title">{{player.name}} #{{j +1}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-monster-sheet [monsterId]="player.id"
                [currentLifePoints]="player.lifePoints" [monsterIndex]="j"></app-monster-sheet>
            </div>
        </ng-template>
    </div>
  </div>

  <!--#####################--Toolbar menu--#########################-->  
  <app-master-menu-control></app-master-menu-control>

</div>