<div class="content">
  <div [id]="selfId" class="d12 inner roll-1" data-roll="1" (click)="roll()">
    <div class="d12-1">
      <span class="single">1</span>
    </div>
    <div class="d12-2">
      <span class="single">2</span>
    </div>
    <div class="d12-3">
      <span class="single">3</span>
    </div>
    <div class="d12-4">
      <span class="single">4</span>
    </div>
    <div class="d12-5">
      <span class="single">5</span>
    </div>
    <div class="d12-6">
      <span>6.</span>
    </div>
    <div class="d12-7">
      <span class="single">7</span>
    </div>
    <div class="d12-8">
      <span class="single">8</span>
    </div>
    <div class="d12-9">
      <span>9.</span>
    </div>
    <div class="d12-10">
      <span>10</span>
    </div>
    <div class="d12-11">
      <span>11</span>
    </div>
    <div class="d12-12">
      <span>12</span>
    </div>
  </div>

</div>
