form{
  font-family: Roboto,Helvetica,sans-serif;
}
.legend{
  font-weight: 500;
}
#first-section{
  display: flex;
}
.page{
  display: flex;
}
/*############################### Cabeçalhos ###########################*/
.header-mobile{
  display: flex;
  font-family: Roboto,Helvetica,sans-serif;
  position: sticky;
  top: 5px;
  background-color: white;
  z-index: 99;
  margin-bottom: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  border-style: solid;
  border-color: #c53131;
  border-radius: 10px;
  .side-column{
    padding: 15px;
    display: inline-grid;
    > label{
      display: inline-block;
      margin-bottom: 0px;
    }
  }
}
/*################################### atributes ###################################*/
#atributes{
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 101px;
  background-color: #bbb;
  border-radius: 10px;
}
.atribute{
  //height: 81px;
  font-family: Roboto,Helvetica,sans-serif;
  width: 95px;
  padding: 5px;
  position: absolute;
}
.atribute-title{
  padding-top: 8px;
  position: relative;
  top: 0;
  left: 25px;
  font-size: 10px;
}

.atribute-value{
  position: relative;
  top: 0;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
}
.atribute-modfier{
  padding-top: 12px;
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.coringa{
  height: 120px;
  display: flex;
  flex-direction: column  
}
#proeficiency{
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 180px;
  margin-left: 15px;
  .upper-values {
    display: flex;
    flex-direction: row;
    .value{
      width: 40px;
      padding: 5px;
      border:2px solid black;
      border-radius: 10px;
      text-align: center;
    }
    .label{
      position: relative;
      width: 100%;
      height: 22px;
      margin-top: 6px;
      border: 1px solid black;
      border-left: 0;
      text-align: center;
    }
  }
}
#saving-throws{
  border:2px solid black;
  border-radius: 10px;
  padding:10px;
  .saving{
    
    flex-direction: row;
    .value{
      margin-left: 5px;
      font-size: 12px;
      border-bottom: 1px solid black;
      margin-bottom: 1px;
      display: initial;
    }
    .label{
      margin-left: 5px;
      font-size: 12px;
      font-weight: bolder;
    }
  }
}


/*###################################### ac and life ########################################*/
.shield{
  height: 120px;
  width: 98px;
  display: flex;
  flex-direction: column; 
}
.title-bottom{
  position: relative;
  /* left: 37px; */
  font-size: 15px;
  bottom: 43px;
  text-align: center;
} 
.valor{
  position: relative;
  font-size: 32px;
  bottom: 52px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}
svg{
  width: 100%;
  height: 100%;
}



#main-sheet{
  display: flex;
  
}
#ac-in-sp{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: #bbb;
  border-radius: 10px;
}




