<div>
    <div class="col-12">
        <div class="card-deck">
            <div class="card bg-dark text-white" (click)="goNewCombat()">
                <img class="card-img"
                    src="https://wallpaperplay.com/walls/full/d/1/b/105573.jpg" alt="_blank" />
                <div class="card-img-overlay">
                    <h5 class="card-title">Criar um combate</h5>
                </div>
            </div>
            <div class="card bg-dark text-white" (click)="goEdit(movie)">
                    <img class="card-img"
                        src="https://i.ytimg.com/vi/OAm2rsIibOw/maxresdefault.jpg" alt="_blank" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">Entrar em um combate</h5>
                    </div>
            </div>
          </div>
    </div>
<div>
