<div>
    <div class="col-12">
        <div class="card-deck">
            <div class="card bg-dark text-white" (click)="goNewCombat()">
                <img class="card-img"
                    src="../../../../assets/img/criarCombate.jpg" alt="_blank" />
                <div class="card-img-overlay">
                    <h5 class="card-title">Criar um combate</h5>
                </div>
            </div>
            <div class="card bg-dark text-white" (click)="goNewCombat()">
                    <img class="card-img"
                        src="../../../../assets/img/batle.jpg" alt="_blank" />
                    <div class="card-img-overlay">
                        <h5 class="card-title">Entrar em um combate</h5>
                    </div>
            </div>
          </div>
    </div>
<div>
