<mat-form-field appearance="outline" class="col-12">
    
    <mat-chip-list #chipList>
      <mat-chip
          *ngFor="let element of chipSelectedElements"
          [selectable]=true
          [removable]=true
          (removed)="removeElement(element)">
          {{element.value}}
          <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      
      <input
          #elementInput
          [placeholder]="placeholderComponent"
          [formControl]="elementControl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]=true
          (matChipInputTokenEnd)="addElement($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="elementSelected($event)">
      <mat-option *ngFor="let thisElementName of filteredElements | async" [value]="thisElementName">
          {{thisElementName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
 