<div class="col-12">
        <canvas #canvas  width="1200" height="900"  (click)="selectPlace($event,content)" (dblclick)="addMarkEvent($event)"></canvas>

        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Detalhes</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              moithafocka
            </div>
        </ng-template>
</div>
