 
    <div class="card" >
        <div class="card-header">
            <h5 class="card-title">{{ monster?.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted"> {{ monster?.size }}, {{ monster?.alignment }}</h6>
        </div>
        <div class="card-body">
            <div class="row" style="height: 500px"  >
                <div class="col-md-6 col-sm-12">
                    <ul class="list-group list-group-flush">
                
                        <li class="list-group-item">
                                <div class="row">
                                        <p><strong>Classe de armadura: </strong> {{ monster?.armorClass }}</p>
                                </div>
                                <div class="row">
                                    
                                        <p><strong>Pontos de vida: </strong> {{(currentLifePoints && currentLifePoints > 0)? currentLifePoints:  monster?.lifePoints }}</p>
                                        
                                        
                                        <div class="input-group mb-3 col-4" *ngIf="currentLifePoints">
                                                <div class="input-group-prepend">
                                                    <button  type="button" class="btn btn-primary" (click)="subtractLifePoints()">-</button>
                                                </div>
                                                <input [(ngModel)]="amount" type="text" numbersOnly class="form-control" >
                                                <div class="input-group-prepend">
                                                    <button  type="button" class="btn btn-primary" (click)="addLifePoints()">+</button>
                                                </div>
                                        </div>
                                </div>
                                
                                <div class="row">
                                        <p><strong>Deslocamento: </strong> {{ monster?.armorClass }}</p>
                                </div>
                               
                                
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2" *ngFor="let atribute of monster?.atributes">
                                        <p><strong>{{ atribute.name}}</strong></p>
                                        <p>{{ atribute.value}} ({{(atribute?.modfier) >= 0 ? "+": ""}}{{atribute?.modfier}})</p>
                                    </div>
                                </div>  
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <p><strong>Testes de resistência:</strong> </p>
                                        
                                    <div class="d-inline-block" *ngFor="let resistency of monster?.savingThrows">
                                        <span class="badge badge-pill badge-danger">{{ resistency.name}} {{(resistency?.value) >= 0 ? "+": ""}} {{resistency.value}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                        <p><strong>Reisistência a dano:</strong> </p>
                                        
                                        <div class="d-inline-block" *ngFor="let resistency of monster?.damageResistence">
                                            <span class="badge badge-pill badge-primary">{{ resistency }}</span>
                                        </div>
                                        
                                </div>
                                <div class="row">
                                        <p><strong>Imunidade a dano:</strong> </p>
                                        <div class="d-inline-block" *ngFor="let imunity of monster?.damageImunity">
                                            <span class="badge badge-pill badge-danger">{{ imunity }}</span>
                                        </div>
                                </div>  
                                <div class="row">
                                        <p><strong>Idiomas: </strong> </p>
                                        <div class="d-inline-block" *ngFor="let language of monster?.languages">
                                            <span class="badge badge-pill badge-warning">{{ language }}</span>
                                        </div>
                                       
                                </div>
                                <div class="row">
                                        <p><strong>Nível de desafio: </strong> </p>
                                        <p> {{ monster.challengeLevel}} </p>
                                </div>
                                   
                            </li>
                    </ul>
                </div>
                
                <div class="overflow-auto col-md-6 col-sm-12 h-100">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row" *ngFor="let feature of monster?.features">
                                <p><strong>{{feature.name}}</strong> </p>
                                <p>{{feature.description}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="row h-50">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row" *ngFor="let action of monster?.actions">
                            <p><strong>{{action.name}}</strong> </p>
                            <p>{{action.description}}</p>
                           
                            <div *ngFor="let damage of action?.damage">
                                <span class="badge badge-pill badge-danger">{{ damage}}</span>
                            </div>
                           
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <mat-card>
        <mat-card-title>{{ monster?.name }}</mat-card-title>
        <mat-card-subtitle>{{ monster?.size }}, {{ monster?.alignment }}</mat-card-subtitle>
        <mat-card-content>
                <mat-grid-list cols="2" rowHeight="2:1">
                        <mat-grid-tile>
                                <mat-list>    
                                        <mat-list-item>
                                            <p mat-line><strong>Classe de armadura: </strong> {{ monster?.armorClass }}</p> 
                                        </mat-list-item>
                                        <mat-list-item>
                                            <p mat-line><strong>Pontos de vida: </strong> {{(currentLifePoints && currentLifePoints > 0)? currentLifePoints:  monster?.lifePoints }}</p> 
                                        </mat-list-item>
                                        <mat-list-item>
                                            <p mat-line><strong>Deslocamento: </strong> {{ monster?.armorClass }}</p> 
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                        
                                </mat-list>
                                <mat-grid-list cols="6" rowHeight="2:1" >
                                            <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let atribute of monster?.atributes">
                                                <p><strong>{{ atribute.name}}</strong></p>
                                                <p>{{ atribute.value}} ({{(atribute?.modfier) >= 0 ? "+": ""}}{{atribute?.modfier}})</p>
                                            </mat-grid-tile>
                                    </mat-grid-list>
                        </mat-grid-tile>
                        <mat-grid-tile>2</mat-grid-tile>
                        <mat-grid-tile>3</mat-grid-tile>
                        <mat-grid-tile>4</mat-grid-tile>
                      </mat-grid-list>
                
                
        </mat-card-content>
    </mat-card> -->
