
  <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{ story?.name }}</mat-card-title>
            <button mat-flat-button color="primary" (click)="goToCombat()">
                    <mat-icon aria-hidden="false" aria-label="Example axe-battle icon">swords</mat-icon>
                Iniciar um combate
            </button>
            <button mat-flat-button color="warn" (click)="openManagementModal(usersInStoryManagementModal)">
                <mat-icon aria-hidden="false" aria-label="Example axe-battle icon">person</mat-icon>
                Gerenciar jogadores
            </button>
          </mat-card-header>
          <mat-card-content>
              <div class="card-body row">

                  <div class="col-md-6 col-sm-12">
                      <img  mat-card-image src="{{ story?.folderImage }}" alt="">
                  </div>
                  <div class="col-md-6 col-sm-12">
                      <p >{{ story?.background }}</p>
                  </div>    
                  
              </div>

          </mat-card-content>
            <div class="col-12">
                <h6>Lugares</h6>
                <div class="card-columns">
                    <div class="card bg-dark text-white" (click)="goView(place)" *ngFor="let place of story?.places">
                    <img class="card-img"
                            src="{{ place?.map }}" alt="_blank" />
                        <div class="card-img-overlay">
                            <p class="card-title">{{ place?.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
</mat-card>
      
<!--------------------------Modal de gerenciar usuários na história---------------------------------->
<ng-template #usersInStoryManagementModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Gerenciamento de usuários na história</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="playersFormGroup">
            <div class="row">
                <div class="form-group col-12">
                    <app-input-chip [placeholderComponent]="'Jogadores'" (changeFunc)="changePlayersFormValues($event)" [allElements]="userManagement.usersOfStory"></app-input-chip>  
                </div>             
            </div>
                <!-- <div class="example-button-row float-right">
                        <button mat-raised-button color="primary" matStepperNext>Próximo</button>
                </div> -->
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="handleResetCombat()">Salvar</button>
      </div>
</ng-template>


<!-- <div class="example-container" >
    <mat-toolbar color="primary" >
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">{{story.name}}</h1>
    </mat-toolbar>
    <mat-sidenav-container  style="height:570px" >
        <mat-sidenav #snav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <button mat-button color="primary">Mapa</button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <button mat-button color="primary">Detalhes</button>
                </mat-list-item>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div> -->
    


