.monster-card{
    height: 90px;
    width: 120px;
    position: relative;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.text{
    font-size: 12px;
    position: absolute;
    top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-lp{
    font-size: 12px;
    position: absolute;
    top: 62px;
    right:6px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-level{
    font-size: 12px;
    position: absolute;
    top: 62px;
    overflow: hidden;
    text-overflow: ellipsis;
}