<div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Procurar" (input)="search = $event.target.value" (keyup)="onSearch()" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Raça</th>
                    <th scope="col">Nível de desafio</th>
                    <th scope="col">Tipo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="selectMonster(monster)" *ngFor="let monster of page.elements">
                    <td>{{monster.race}}</td>
                    <td>{{monster.challengeLevel}}</td>
                    <td>{{monster.type}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="d-flex justify-content-center">
            <ul  class="pagination"  *ngIf="page?.elements" >
              <li class="page-item" 
                  [ngClass]="{'disabled': page?.firts }"  
                  (click)="pageChange(page.currentPageNumber -1)">
                  <a class="page-link" href="javascript:;">Anterior</a>
              </li>
              <li *ngFor="let page of ' '.repeat(page.totalOfPages).split(''), let i = index " 
                (click)="pageChange(i +1)"  
                class="page-item"
                [ngClass]="{'page-item active': (page.currentPageNumber - 1) === i }">
                <a class="page-link" href="javascript:;">{{i + 1}}</a>
              </li>
              <li class="page-item" [ngClass]="{'disabled': page?.last }" 
                  (click)="pageChange(page.currentPageNumber +1)">
                  <a class="page-link" href="javascript:;">Próxima</a>
              </li>
            </ul>
        </div>
</div>