<div>
    <div>
        <button type="button" focus-index="1" class="btn btn-primary" (click)="goCreateStory()" >Adcionar</button>
    </div>
    <br>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Procurar" (input)="search = $event.target.value" (keyup)="onSearch()" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="col-12">
      <div class="card-columns">
        <div class="card bg-dark text-white" (click)="goEdit(story)" *ngFor="let story of page.elements">
         <img class="card-img"
              src="{{ story.folderImage }}" alt="_blank" />
          <div class="card-img-overlay">
            <p class="card-title">{{ story.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <ul class="pagination"  *ngIf="page?.elements" >
        <li class="page-item" 
            [ngClass]="{'disabled': page?.first }"  
            (click)="pageChange(page.currentPageNumber -1)">
            <a class="page-link" href="javascript:;">Anterior</a>
        </li>
        <li *ngFor="let page of ' '.repeat(page.totalOfPages).split(''), let i = index " 
          (click)="pageChange(i +1)"  
          class="page-item"
          [ngClass]="{'page-item active': (page.currentPageNumber - 1) === i }">
          <a class="page-link" href="javascript:;">{{i + 1}}</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': page?.last }" 
            (click)="pageChange(page.currentPageNumber +1)">
            <a class="page-link" href="javascript:;">Próxima</a>
        </li>
      </ul>
    </div>
  </div>
