<div class="row">
    
      <div class="card">
        <img class="card-img" src="{{ monster?.profilePicturePath }}" alt="">
      </div>
    
    &nbsp;

      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ monster?.race }} ({{ monster?.type }})</h5>
        </div>
        <div class="card-body">
          <p class="card-title text-justify"><strong>{{monster?.race}} </strong> {{ monster?.description }}</p>
          <br/><br/>
        </div>
      </div>
   
  </div>
