<div class="row">
    
      <div class="card w-100 h-50">
          <div class="card-header">
              <h6 class="card-title">{{ monster?.race }} ({{ monster?.type }})</h6>
          </div>
          <img class="card-img" src="{{ monster?.profilePicturePath }}" alt="">
      </div>

      <div class="card w-100 h-100">
       
        <div class="card-body">
          <p class="card-title text-justify">{{ monster?.description }}</p>
          <br/><br/>
        </div>
      </div>
   
  </div>
