
    
      <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{ monster?.race }}</h5>  
            <h6 class="card-subtitle mb-2 text-muted">{{ monster?.type }}</h6>
          </div>
          <div class="card-body row">

              <div class="col-md-6 col-sm-12 w-50 h-100">
                  <img class="card-img" src="{{ monster?.profilePicturePath }}" alt="">
              </div>
              <div class="col-md-6 col-sm-12 w-50 h-100">
                  <p class="card-title text-justify">{{ monster?.description }}</p>
              </div>    
              
          </div>
          
          
      </div>

      <!-- <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{ monster?.race }}</mat-card-title>
            <mat-card-subtitle>{{ monster?.type }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <div class="card-body row">

                  <div class="col-md-6 col-sm-12 w-50 h-100">
                      <img  mat-card-image src="{{ monster?.profilePicturePath }}" alt="">
                  </div>
                  <div class="col-md-6 col-sm-12 w-50 h-100">
                      <p >{{ monster?.description }}</p>
                  </div>    
                  
              </div>

          </mat-card-content>
        </mat-card> -->
      
   

