
.canvas-container{
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: scroll;

}
.svg{
    position: absolute;
}
.canvas{
    max-width: 80%;
}
.zoom-slider{
    z-index: 150;
    position: fixed;
    top: 158px;
    right: 0px;
    transform: rotate(270deg);
}