
.canvas-container{
    //-webkit-touch-callout: none!important;
    overflow: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.zoom-slider{
    position: absolute;
    z-index: 10;
}