
<mat-horizontal-stepper labelPosition="bottom" linear #stepper>
    <mat-step [stepControl]="detailFormGroup">
        <form [formGroup]="detailFormGroup">
            <ng-template  matStepLabel>Informações</ng-template> 
                <div class="row">
                    <div class="col-md-6 col-sm-12 w-50 h-100">
                        <img height="360" mat-card-image src="{{ profilePicture }}" alt="">
                        <mat-form-field class="form-group col-12" appearance="outline">
                            <input matInput placeholder="Url imagem" [(ngModel)]="profilePicture" formControlName="profilePicture">
                        </mat-form-field>
                        
                    </div>
                    <div class="col-md-6 col-sm-12 w-50 h-100">
                        <mat-form-field class="form-group col-12" appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="Descrição" formControlName="name">
                            <mat-error *ngIf="!detailFormGroup.controls['name'].valid && detailFormGroup.controls['name'].touched">
                                Campo obrigatório
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-group col-12" appearance="outline">
                            <mat-label>Descrição</mat-label>
                            <textarea matInput formControlName="description" matInput rows="13"></textarea>
                            <mat-error *ngIf="!detailFormGroup.controls['description'].valid && detailFormGroup.controls['description'].touched">
                                Campo obrigatório
                            </mat-error>
                        </mat-form-field>
                    </div>    
                                
                </div>
                <div class="example-button-row float-right">
                        <button mat-raised-button color="primary" matStepperNext>Próximo</button>
                </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="playersFormGroup">
            <form [formGroup]="playersFormGroup">
                <ng-template  matStepLabel>Jogadores</ng-template> 
                    <div class="row">
                
                        <div class="form-group col-12">
                            <app-input-chip [placeholderComponent]="'Jogadores'" (changeFunc)="changePlayersFormValues($event)" [allElements]="inputValues.users"></app-input-chip>  
                        </div>             
                    </div>
                    <div class="example-button-row float-right">
                            <button mat-raised-button color="primary" matStepperNext>Próximo</button>
                    </div>
            </form>
    </mat-step>
    <mat-step [stepControl]="placesFormGroup">
        <form [formGroup]="placesFormGroup">
            <ng-template  matStepLabel>Lugares</ng-template>
            <div formArrayName="places">
                <div class="col-12">
                    <div class="card-columns" *ngFor="let place of placesFormGroup.get('places').controls;  let i = index;">
                        <div [formGroupName]="i">
                            <div class="card bg-dark text-white">
                                <img class="card-img"
                                    src="{{ place?.value.map }}" alt="_blank" />
                                <div class="card-img-overlay">
                                    <p class="card-title">{{ place?.value.name }}</p>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    
                    <button mat-raised-button color="primary" (click)="open(mdPlace)">Adcionar </button>
                    <ng-template #mdPlace let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title">Adicionar lugar</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <app-place-create (adcionarLugar)="addPlace($event)"></app-place-create>
                        </div>
                    </ng-template>
                </div>
                <div class="example-button-row float-right">
                    <button mat-raised-button color="primary" matStepperNext>Próximo</button>
                </div>
            </div> 
               
        </form>
    </mat-step>
    <mat-step>
        <ng-template  matStepLabel>Finalizar</ng-template> 
        <div class="row">
            <div class="example-button-row float-right">
                    <button type="button" class="btn btn-success pull-right" matStepperPrevious>Back</button>
                    <button type="button" class="btn btn-success pull-right" (click)="stepper.reset()">Reset</button>
                    <button type="button" class="btn btn-success pull-right" (click)="onSubmit()">Finalizar</button>
            </div>
        </div>
    </mat-step>
</mat-horizontal-stepper>
