<div class="container bg">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-sm-12 col-md-6 col-lg-4">
           <mat-card>
                <mat-card-content>
                    <form [formGroup]="loginForm" >
                        <mat-form-field class="form-group col-12" appearance="outline" >
                            <mat-label>Login</mat-label>
                            <input class="input-sample" matInput placeholder="Login" formControlName="username">
                            <mat-error *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
                                    Campo obrigatório
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-group col-12" appearance="outline">
                            <mat-label>Senha</mat-label>
                            <input  matInput type="password" placeholder="Senha" formControlName="password">
                            <mat-error *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                                    Campo obrigatório
                            </mat-error>
                        </mat-form-field>
                        <div class="buttons-row">
                            <button [disabled]="loading" color="accent" (click)="addToHomeScreen()" mat-raised-button>Add App</button>
                            <button [disabled]="loading" (click)="goRegister()" mat-raised-button color="secondary">Registrar</button>
                            <button [disabled]="loading" (click)="onSubmit()" mat-raised-button color="primary">Login</button>                          
                        </div>
                    </form>
                </mat-card-content>
           </mat-card>
        </div>
    </div>
</div>