<div class="content">
  <div [id]="selfId" class="dice d6" (click)="roll()">
    <div class="side one">
      <div class="number center">1</div>
    </div>
    <div class="side two">
      <div class="number center">2</div>
    </div>
    <div class="side three">
      <div class="number center">3</div>
    </div>
    <div class="side four">
      <div class="number center">4</div>
    </div>
    <div class="side five">
      <div class="number center">5</div>
    </div>
    <div class="side six">
      <div class="number center">6</div>
    </div>
</div>
</div>



