.mainContainer{
    height: 100%;
    min-height: 500px;
}
.section{
    padding: 5px;
}
.checkbox{
    padding: 5px;
}
.control-section{
    position: fixed;
    bottom:10px;
    right:10px;
    > button{
        margin: 3px;
    }
}
