<mat-horizontal-stepper labelPosition="bottom" linear #stepper>
    <mat-step [stepControl]="informacoesFormGroup">
        <form [formGroup]="informacoesFormGroup">
            <ng-template  matStepLabel>Informações</ng-template>
            <div class="row">
                    <mat-form-field class="form-group col-4" appearance="outline">
                            
                                    <mat-label>Tipo de criatura</mat-label>
                                    <mat-select formControlName="type">
                                        <mat-option *ngFor="let type of inputValues?.types" [value]="type.id">
                                            {{type.name}}
                                        </mat-option>
                                    </mat-select>
                                   
                    </mat-form-field>
                    <mat-form-field class="form-group col-4" appearance="outline">
                           
                                    <mat-label>Tamanho</mat-label>
                                    <mat-select formControlName="size">
                                        <mat-option *ngFor="let size of inputValues?.sizes" [value]="size.id">
                                            {{size.value}}
                                        </mat-option>
                                    </mat-select>
                                
                    </mat-form-field>
                    <mat-form-field class="form-group col-4" appearance="outline">
                            
                                    <mat-label>Alinhamento</mat-label>
                                    <mat-select formControlName="alignment">
                                        <mat-option *ngFor="let alignment of inputValues?.alignments" [value]="alignment.id">
                                            {{alignment.value}}
                                        </mat-option>
                                    </mat-select>
                                  
                    </mat-form-field>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="card w-100 h-100">
                            <img height="320"  class="card-img" src="{{ profilePicture}}" alt="">
                        </div>
                        <mat-form-field class="form-group col-12" appearance="outline">
                            <mat-label>URL Foto</mat-label>
                            <input matInput placeholder="Url imagem" [(ngModel)]="profilePicture" formControlName="profilePicture">                
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <mat-form-field class="form-group col-12" appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="Descrição" formControlName="name">
                            <mat-error *ngIf="!informacoesFormGroup.controls['name'].valid && informacoesFormGroup.controls['name'].touched">
                                    Campo obrigatório
                            </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group col-12" appearance="outline">
                            <mat-label>Descrição</mat-label>
                            <textarea matInput formControlName="description" matInput rows="13"></textarea>
                            <mat-error *ngIf="!informacoesFormGroup.controls['description'].valid && informacoesFormGroup.controls['description'].touched">
                                    Campo obrigatório
                            </mat-error>
                    </mat-form-field>
                   
                </div>
            </div>
            <mat-divider></mat-divider>
            <h5>Tokens</h5>
            <div class="row">
                <div class="column">
                    <img height="80" width="80" id="input-image-token" src="{{ tokenImage}}"  accept="image/png">
                    <input id="fileInputToken" type="file" (change)="changeTokenImage($event)" style="display: none;">
                    <button mat-raised-button color="primary" onclick="document.getElementById('fileInputToken').click();">Selecionar token</button>
                </div>
            </div>
            <div class="example-button-row float-right">
                <button mat-raised-button color="primary" matStepperNext>Próximo</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="habilitiesFormGroup">
            <form [formGroup]="habilitiesFormGroup">
                <ng-template  matStepLabel>Habilidades</ng-template>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <mat-form-field class="form-group col-4" appearance="outline">
                                <mat-label>Classe de armadura</mat-label>
                                <input numbersOnly matInput placeholder="Classe de armadura" formControlName="armorClass">
                                <mat-error *ngIf="!habilitiesFormGroup.controls['armorClass'].valid && habilitiesFormGroup.controls['armorClass'].touched">
                                        Campo obrigatório
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="form-group col-4" appearance="outline">
                                <mat-label>Pontos de vida</mat-label>
                                <input numbersOnly matInput placeholder="Pontos de vida" formControlName="lifePoints">
                                <mat-error *ngIf="!habilitiesFormGroup.controls['lifePoints'].valid && habilitiesFormGroup.controls['lifePoints'].touched">
                                        Campo obrigatório
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="form-group col-4" appearance="outline">
                                <mat-label>Deslocamento</mat-label>
                                <input numbersOnly matInput placeholder="Deslocamento" formControlName="moviment">
                                <mat-error *ngIf="!habilitiesFormGroup.controls['moviment'].valid && habilitiesFormGroup.controls['moviment'].touched">
                                        Campo obrigatório
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2 col-sm-4">
                                    <mat-form-field class="col-md-12" appearance="outline">
                                            <mat-label>Força</mat-label>
                                            <input numbersOnly matInput formControlName="force" placeholder="Força">
                                            <mat-error *ngIf="!habilitiesFormGroup.controls['force'].valid && habilitiesFormGroup.controls['force'].touched">
                                                    Campo obrigatório
                                            </mat-error>
                                            
                                        </mat-form-field>
                                        <mat-checkbox formControlName="proeficientForce">Proeficiente</mat-checkbox>
                                       
                            </div>
                            
                            <div class="col-md-2 col-sm-4">
                                    <mat-form-field class="col-12" appearance="outline">
                                            <mat-label>Destreza</mat-label>
                                            <input numbersOnly matInput formControlName="dexterity" placeholder="Destreza">
                                            <mat-error *ngIf="!habilitiesFormGroup.controls['dexterity'].valid && habilitiesFormGroup.controls['dexterity'].touched">
                                                    Campo obrigatório
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-checkbox formControlName="proeficientDexterity">Proeficiente</mat-checkbox>
                                      
                            </div>
                            
                            <div class="col-md-2 col-sm-4">
                                    <mat-form-field class="col-12" appearance="outline">
                                            <mat-label>Constituição</mat-label>
                                            <input numbersOnly matInput formControlName="constitution" placeholder="Constituição">
                                            <mat-error *ngIf="!habilitiesFormGroup.controls['constitution'].valid && habilitiesFormGroup.controls['constitution'].touched">
                                                    Campo obrigatório
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-checkbox formControlName="proeficientConstitution">Proeficiente</mat-checkbox>
                                        
                            </div>
                            
                            <div class="col-md-2 col-sm-4">
                                    <mat-form-field class="col-12" appearance="outline">
                                            <mat-label>Inteligência</mat-label>
                                            <input numbersOnly matInput formControlName="inteligence" placeholder="Inteligência">
                                            <mat-error *ngIf="!habilitiesFormGroup.controls['inteligence'].valid && habilitiesFormGroup.controls['inteligence'].touched">
                                                    Campo obrigatório
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-checkbox formControlName="proeficientInteligence">Proeficiente</mat-checkbox>
                                       
                            </div>
                            
                            <div class="col-md-2 col-sm-4">
                                    <mat-form-field class="col-12" appearance="outline">
                                            <mat-label>Sabedoria</mat-label>
                                            <input numbersOnly matInput formControlName="wisdom" placeholder="Sabedoria">
                                            <mat-error *ngIf="!habilitiesFormGroup.controls['wisdom'].valid && habilitiesFormGroup.controls['wisdom'].touched">
                                                    Campo obrigatório
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-checkbox formControlName="proeficientWisdom">Proeficiente</mat-checkbox>
                                        
                            </div>
                            
                            <div class="col-md-2 col-sm-4">
                                    <mat-form-field class="col-12" appearance="outline">
                                            <mat-label>carisma</mat-label>
                                            <input numbersOnly matInput formControlName="charisma" placeholder="Carisma">
                                            <mat-error *ngIf="!habilitiesFormGroup.controls['charisma'].valid && habilitiesFormGroup.controls['charisma'].touched">
                                                    Campo obrigatório
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-checkbox formControlName="proeficientCharisma">Proeficiente</mat-checkbox>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <app-input-chip [placeholderComponent]="'Resisnência a dano'" (changeFunc)="changeDamageResistences($event)" [allElements]="inputValues.damageType"></app-input-chip>  
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <app-input-chip [placeholderComponent]="'Imunidade a dano'" (changeFunc)="changeDamageImunities($event)" [allElements]="inputValues.damageType"></app-input-chip>  
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <app-input-chip [placeholderComponent]="'Idiomas'" (changeFunc)="changeLanguages($event)"  [allElements]="inputValues.languages"></app-input-chip>  
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <mat-form-field appearance="outline" class="col-12">
                                <mat-label>Nível de desafio</mat-label>
                                <mat-select formControlName="level">
                                    <mat-option *ngFor="let level of inputValues?.levels" [value]="level.id">
                                        {{level.value}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="!habilitiesFormGroup.controls['level'].valid && habilitiesFormGroup.controls['level'].touched">
                                    Campo obrigatório
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="example-button-row float-right">
                                
                                <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
                                <button mat-raised-button color="primary" matStepperNext>Próximo</button>
                        </div>
                       
                    </li>
                   
                </ul>
            </form>
    </mat-step>
    <mat-step [stepControl]="featuresFormGroup">
                <ng-template matStepLabel>Características</ng-template>
                <form [formGroup]="featuresFormGroup">
                    <div formArrayName="features">
                        <div *ngFor="let feature of featuresFormGroup.get('features')?.controls;  let i = index;">
                            <div [formGroupName]="i">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title>Característica {{i + 1}}</mat-card-title>
                                    </mat-card-header>
                                   
                                    <mat-card-content>
                                        
                                        <mat-form-field class="col-md-12" appearance="outline">
                                            <mat-label>Nome</mat-label>
                                            <input matInput formControlName="name" placeholder="Nome">
                                        </mat-form-field>
                                        <mat-form-field class="col-md-12" appearance="outline">
                                            <mat-label>Descrição</mat-label>
                                            <textarea matInput formControlName="description"  matInput ></textarea>
                                        </mat-form-field>
                                    </mat-card-content>
                                    <mat-card-actions>
                                            <button mat-raised-button color="warn" (click)="removeFeature(i)">remover</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                                
                        </div>    
                        
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <button mat-raised-button color="primary" (click)="addFeature()">Adcionar </button>
                        </div> 
                        <div class="col-6 example-button-row bottom-div float-right">           
                            <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
                            <button class="bottom-div float-right" mat-raised-button color="primary" matStepperNext>Próximo</button>
                        </div>
                    </div>
                    
                </form>
    </mat-step>
    <mat-step [stepControl]="actionsFormGroup">
                <ng-template matStepLabel>Ações</ng-template>
                <form [formGroup]="actionsFormGroup">
                    <div formArrayName="actions">
                        <div *ngFor="let action of actionsFormGroup.get('actions')?.controls;  let i = index;">
                            <div [formGroupName]="i">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title>Ação {{i + 1}}</mat-card-title>
                                    </mat-card-header>
                                   
                                    <mat-card-content>
                                        
                                        <mat-form-field class="col-md-12" appearance="outline">
                                            <mat-label>Nome</mat-label>
                                            <input matInput formControlName="name" placeholder="Nome">
                                        </mat-form-field>
                                        <mat-form-field class="col-md-12" appearance="outline">
                                            <mat-label>Descrição</mat-label>
                                            <textarea matInput formControlName="description"  matInput ></textarea>
                                        </mat-form-field>
                                        
                                        
                                        <mat-card>
                                                <mat-card-header>
                                                        <mat-card-title mat-subheader>Danos da ação</mat-card-title>
                                                </mat-card-header>
                                                <mat-card-content *ngFor="let damage of action.controls['damages'].controls;  let j = index;" formArrayName="damages">
                                                    <div [formGroupName]="j" class="row">
                                                        <mat-form-field class="form-group col-2" appearance="outline">
                                                            <mat-label>Quantidade</mat-label>
                                                            <input numbersOnly matInput placeholder="Quantidade" formControlName="quantity">
                                                        </mat-form-field>
                                                        <mat-form-field class="form-group col-4" appearance="outline">
                                                            <mat-label>Número do dado</mat-label>
                                                            <mat-select formControlName="dice">
                                                                    <mat-option *ngFor="let dice of inputValues?.dices" [value]="dice.id">
                                                                        {{dice.value}}
                                                                    </mat-option>
                                                                </mat-select>
                                                        </mat-form-field>
                                                        <mat-form-field class="form-group col-4" appearance="outline">
                                                            <mat-label>Tipo de dano</mat-label>
                                                            <mat-select formControlName="damageType">
                                                                    <mat-option *ngFor="let damage of inputValues?.damageType" [value]="damage.id">
                                                                        {{damage.value}}
                                                                    </mat-option>
                                                                </mat-select>
                                                        </mat-form-field>
                                                        <div class="form-group col-2">
                                                            <button mat-mini-fab color="warn" (click)="removeActionDamge(i,j)">X</button>
                                                        </div>             
                                                    </div>
                                                    
                                                </mat-card-content>
                                                <div>
                                                    <button mat-flat-button color="primary" (click)="addActionDamge(i)">Adcionar dano</button>
                                                </div>      
                                        </mat-card>
                                       
                                            
                                           
                                               
                                          
                                        
                                    </mat-card-content>
                                    <mat-card-actions>
                                            <button mat-raised-button color="warn" (click)="removeAction(i)">remover ação</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                                
                        </div>    
                        
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <button mat-raised-button color="primary" (click)="addAction()">Adcionar ação </button>
                        </div> 
                        <div class="col-6 example-button-row bottom-div float-right">           
                            <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
                            <button class="bottom-div float-right" mat-raised-button color="primary" matStepperNext>Próximo</button>
                        </div>
                    </div>
                    
                </form>
    </mat-step>
    <mat-step [stepControl]="legendaryActionsFormGroup">
        <ng-template matStepLabel>Ações Lendárias</ng-template>
        <form [formGroup]="legendaryActionsFormGroup">
            <div formArrayName="legendaryActions">
                <div *ngFor="let legendaryAction of legendaryActionsFormGroup.get('legendaryActions')?.controls;  let i = index;">
                    <div [formGroupName]="i">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Ação {{i + 1}}</mat-card-title>
                            </mat-card-header>
                               
                            <mat-card-content>
                                    
                                    <mat-form-field class="col-md-12" appearance="outline">
                                        <mat-label>Nome</mat-label>
                                        <input matInput formControlName="name" placeholder="Nome">
                                    </mat-form-field>
                                    <mat-form-field class="col-md-12" appearance="outline">
                                        <mat-label>Descrição</mat-label>
                                        <textarea matInput formControlName="description"  matInput ></textarea>
                                    </mat-form-field>
                                    
                                    
                                    <mat-card>
                                            <mat-card-header>
                                                    <mat-card-title mat-subheader>Danos da ação</mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content *ngFor="let damage of legendaryAction.controls['damages'].controls;  let j = index;" formArrayName="damages">
                                                <div [formGroupName]="j" class="row">
                                                    <mat-form-field class="form-group col-2" appearance="outline">
                                                        <mat-label>Quantidade</mat-label>
                                                        <input numbersOnly matInput placeholder="Quantidade" formControlName="quantity">
                                                    </mat-form-field>
                                                    <mat-form-field class="form-group col-4" appearance="outline">
                                                        <mat-label>Número do dado</mat-label>
                                                        <mat-select formControlName="dice">
                                                                <mat-option *ngFor="let dice of inputValues?.dices" [value]="dice.id">
                                                                    {{dice.value}}
                                                                </mat-option>
                                                            </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field class="form-group col-4" appearance="outline">
                                                        <mat-label>Tipo de dano</mat-label>
                                                        <mat-select formControlName="damageType">
                                                                <mat-option *ngFor="let damage of inputValues?.damageType" [value]="damage.id">
                                                                    {{damage.value}}
                                                                </mat-option>
                                                            </mat-select>
                                                    </mat-form-field>
                                                    <div class="form-group col-2">
                                                        <button mat-mini-fab color="warn" (click)="removeLegendaryActionDamge(i,j)">X</button>
                                                    </div>             
                                                </div>
                                                
                                            </mat-card-content>
                                            <div>
                                                <button mat-flat-button color="primary" (click)="addLegendaryActionDamge(i)">Adcionar dano</button>
                                            </div>      
                                    </mat-card> 
                                </mat-card-content>
                                <mat-card-actions>
                                        <button mat-raised-button color="warn" (click)="removeLegendaryAction(i)">remover ação</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                            
                    </div>    
                    
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <button mat-raised-button color="primary" (click)="addLegendaryAction()">Adcionar ação lendária </button>
                    </div> 
                    <div class="col-6 example-button-row bottom-div float-right">           
                        <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
                        <button class="bottom-div float-right" mat-raised-button color="primary" matStepperNext>Próximo</button>
                    </div>
                </div>
                
            </form>
    </mat-step>           
    <mat-step>
        <ng-template  matStepLabel>Finalizar</ng-template>
          <mat-card>
              <div class="row">
                <h3>Tem certeza?</h3>
              </div>
              <div class="row align-items-end">
                <button type="button" class="btn btn-success pull-right" matStepperPrevious>Back</button>
                <button type="button" class="btn btn-success pull-right" (click)="stepper.reset()">Reset</button>
                <button type="button" class="btn btn-success pull-right" (click)="onSubmit()">Finalizar</button>
              </div>                                  
            </mat-card>
    </mat-step>
</mat-horizontal-stepper>