<mat-horizontal-stepper  #stepper>
    <mat-step [stepControl]="informacoesFormGroup">
        <form [formGroup]="informacoesFormGroup">
            <ng-template matStepLabel>Informações</ng-template>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="photoURL">URL Foto</label>
                            <input type="text" class="form-control" [(ngModel)]="profilePicture" formControlName="profilePicture" id="photoURL"  placeholder="Url">
                        </div>
                        <div class="card w-100 h-100">
                            <img height="310"  class="card-img" src="{{ profilePicture}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="monsterName">Nome</label>
                        <input type="text" formControlName="name" class="form-control" id="monsterName" aria-describedby="emailHelp" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <label for="monterDescription">Descrição</label>
                        <textarea formControlName="description" class="form-control" id="monterDescription" rows="11"></textarea>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" focus-index="1" class="btn btn-primary" matStepperNext>Próximo</button>
            </div>
        </form>
        </mat-step>
        <mat-step [stepControl]="habilitiesFormGroup">
            <form [formGroup]="habilitiesFormGroup">
                <ng-template matStepLabel>Habilidades</ng-template>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="form-group col-4">
                                <label for="monsterAc">Classe de armadura</label>
                                <input type="text" formControlName="armorClass" class="form-control" id="monsterAc"  placeholder="Classe de armadura">
                            </div>
                            <div class="form-group col-4">
                                <label for="monsterLifePoints">Pontos de vida</label>
                                <input type="text" formControlName="lifePoints" class="form-control" id="monsterLifePoints" rows="11" placeholder="Pontos de vida">
                            </div>
                            <div class="form-group col-4">
                                <label for="moviment">Deslocamento</label>
                                <input type="text" formControlName="moviment" class="form-control" id="moviment" rows="11" placeholder="Deslocamento">
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="form-group col-md-2 col-sm-4">
                                <label for="monsterForce">Força</label>
                                <input type="text" formControlName="force" class="form-control" id="monsterForce"  placeholder="Força">
                            </div>
                            <div class="form-group col-md-2 col-sm-4">
                                <label for="monsterDex">Destreza</label>
                                <input type="text" formControlName="dexterity" class="form-control" id="monsterDex" rows="11" placeholder="Destreza">
                            </div>
                            <div class="form-group col-md-2 col-sm-4">
                                <label for="monsterCons">Constituição</label>
                                <input type="text" formControlName="constitution" class="form-control" id="monsterCons" rows="11" placeholder="Constituição">
                            </div>
                            <div class="form-group col-md-2 col-sm-4">
                                <label for="monsterInt">Inteligência</label>
                                <input type="text" formControlName="inteligence" class="form-control" id="monsterInt" rows="11" placeholder="Inteligencia">
                            </div>
                            <div class="form-group col-md-2 col-sm-4">
                                <label for="monsterWis">Sabedoria</label>
                                <input type="text" formControlName="wisdom" class="form-control" id="monsterWis" rows="11" placeholder="Sabedoria">
                            </div>
                            <div class="form-group col-md-2 col-sm-4">
                                <label for="monsterCha">Carisma</label>
                                <input type="text" formControlName="charisma" class="form-control" id="monsterCha" rows="11" placeholder="Constituoção">
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <app-input-chip [placeholderComponent]="'Resisnência a dano'" (changeFunc)="changeDamageResistences($event)" [allElements]="inputValues.damageType"></app-input-chip>  
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <app-input-chip [placeholderComponent]="'Imunidade a dano'" (changeFunc)="changeDamageImunities($event)" [allElements]="inputValues.damageType"></app-input-chip>  
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <app-input-chip [placeholderComponent]="'Idiomas'" (changeFunc)="changeLanguages($event)"  [allElements]="inputValues.languages"></app-input-chip>  
                            </div>
                            <div class="form-group col-md-6 col-sm-12">
                                <mat-form-field class="col-12">
                                <mat-label>Nível de desafio</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let level of inputValues?.levels" [value]="level.value">
                                        {{level.value}}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                            <button type="button" focus-index="1" class="btn btn-primary" matStepperNext>Próximo</button>
                        </div>
                    </li>
                   
                </ul>
            </form>
        </mat-step>
        <mat-step [stepControl]="featuresFormGroup">
                <form [formGroup]="featuresFormGroup">
                    <ng-template matStepLabel>Características</ng-template>
                </form>
        </mat-step>        
        <mat-step>
          <ng-template matStepLabel>Finalizar</ng-template>
          <div>
              <div class="row">
                <h3>Tem certeza?</h3>
              </div>
            <div class="row align-items-end">
                        <button type="button" class="btn btn-success pull-right" matStepperPrevious>Back</button>
                        <button type="button" class="btn btn-success pull-right" (click)="stepper.reset()">Reset</button>
                        <button type="button" class="btn btn-success pull-right" (click)="onSubmit()">Finalizar</button>
            </div>                                  
          </div>
         
         
        </mat-step>
      </mat-horizontal-stepper>