.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.bottom-div {
 
  display : flex; 
  align-self : flex-end;
  bottom : 10%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
#input-image-token{
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 20em;
}