<div>
    <form [formGroup]="placeForm" >
        <mat-form-field class="form-group col-12" appearance="outline" >
            <mat-label>Nome</mat-label>
            <input class="input-sample" matInput placeholder="Nome" formControlName="name">
            <mat-error *ngIf="!placeForm.controls['name'].valid && placeForm.controls['name'].touched">
                    Campo obrigatório
            </mat-error>
        </mat-form-field>
        <div class="form-group">           
            <div class="card w-100 h-100">
                <img height="320"  class="card-img" src="{{ mapImagePath}}" alt="">
            </div>
            <mat-form-field class="form-group col-12" appearance="outline">
                <mat-label>URL Foto</mat-label>
                <input matInput placeholder="Url imagem" [(ngModel)]="mapImagePath" formControlName="map">            
            </mat-form-field>
        </div>
        <mat-form-field class="form-group col-12" appearance="outline">
            <mat-label>História de Background</mat-label>
            <input  matInput type="text" placeholder="Background" formControlName="background">
            <mat-error *ngIf="!placeForm.controls['background'].valid && placeForm.controls['background'].touched">
                    Campo obrigatório
            </mat-error>
        </mat-form-field>
        <div>
            <mat-form-field class="form-group col-4" appearance="outline">
                <mat-label>Largura (em metros)</mat-label>
                <input  matInput type="text" placeholder="largura" formControlName="xDimension">
                <mat-error *ngIf="!placeForm.controls['xDimension'].valid && placeForm.controls['xDimension'].touched">
                        Campo obrigatório
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-group col-4" appearance="outline">
                <mat-label>Altura (em metros)</mat-label>
                <input  matInput type="text" placeholder="Altura" formControlName="yDimension">
                <mat-error *ngIf="!placeForm.controls['yDimension'].valid && placeForm.controls['yDimension'].touched">
                        Campo obrigatório
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-group col-4" appearance="outline">
                <mat-label>Tamanho do quadrado</mat-label>
                <input  matInput type="text" placeholder="Tamanho do quadrado" formControlName="squareDimension">
                <mat-error *ngIf="!placeForm.controls['squareDimension'].valid && placeForm.controls['squareDimension'].touched">
                        Campo obrigatório
                </mat-error>
            </mat-form-field>
        </div>
       
        <button type="submit" (click)="onSubmit()" mat-raised-button color="primary">Adcionar</button>
        
    </form>
</div>
