<div>
    <form [formGroup]="placeForm" >
        <mat-form-field class="form-group col-12" appearance="outline" >
            <mat-label>Nome</mat-label>
            <input class="input-sample" matInput placeholder="Nome" formControlName="name">
            <mat-error *ngIf="!placeForm.controls['name'].valid && placeForm.controls['name'].touched">
                    Campo obrigatório
            </mat-error>
        </mat-form-field>
       
        <div class="form-group col-12">
           
            <div #mainContainerCreatePlace class="canvas-container">
                <div #imageContainerCreatePlace></div>
            </div> 
            <div class="column" style="display: inline-grid;">
                <!-- <img height="500" width="100%" id="input-image-map" src="{{ mapImagePath}}"  accept="image/png"> -->
                <input id="fileImageMap" type="file" (change)="changeCreatePlaceImage($event)" style="display: none;">
                <button mat-raised-button color="primary" onclick="document.getElementById('fileImageMap').click();">Selecionar Imagem</button>
            </div>          
        </div>
        <mat-form-field class="form-group col-12" appearance="outline">
            <mat-label>História de Background</mat-label>
            <input  matInput type="text" placeholder="Background" formControlName="background">
            <mat-error *ngIf="!placeForm.controls['background'].valid && placeForm.controls['background'].touched">
                    Campo obrigatório
            </mat-error>
        </mat-form-field>
        <div>
            <mat-form-field class="form-group col-3" appearance="outline">
                <mat-label>Largura (em metros)</mat-label>
                <input  matInput type="text" placeholder="largura" formControlName="xDimension">
                <mat-error *ngIf="!placeForm.controls['xDimension'].valid && placeForm.controls['xDimension'].touched">
                        Campo obrigatório
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-group col-3" appearance="outline">
                <mat-label>Altura (em metros)</mat-label>
                <input  matInput type="text" placeholder="Altura" formControlName="yDimension">
                <mat-error *ngIf="!placeForm.controls['yDimension'].valid && placeForm.controls['yDimension'].touched">
                        Campo obrigatório
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-group col-3" appearance="outline">
                <mat-label>T. do quadrado em metros (default 1.5) </mat-label>
                <input  matInput type="text" placeholder="Tamanho do quadrado" formControlName="squareDimension">
                <mat-error *ngIf="!placeForm.controls['squareDimension'].valid && placeForm.controls['squareDimension'].touched">
                        Campo obrigatório
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-group col-3" appearance="outline">
                <mat-label>T. do quadrado em píxels</mat-label>
                <input  matInput type="text" placeholder="Tamanho do quadrado" formControlName="squareDimensionCm" (change)="drawSvg()">
                <mat-error *ngIf="!placeForm.controls['squareDimensionCm'].valid && placeForm.controls['squareDimensionCm'].touched">
                        Campo obrigatório
                </mat-error>
            </mat-form-field>
        </div>
       
        <button type="submit" (click)="onSubmit()" mat-raised-button color="primary">Adcionar</button>
        
    </form>
</div>
