
.caixa{
  height: 50px;
  width: 50px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  transition: all  .3s ease-in;
}


.card-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-style: solid;
 
}
.danger{
  border-color: #9A1B27;
}
.warning {
  border-color: #CC9900;
}
.safe {
  border-color: #218838;
}
 .dead {
  border-color: #252729;
}
.current-turn{
  border-color: blue;
}

.fab-options{
  font-size: large;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  margin: 2px;
}
.fab-menu-overlay.active {
  display: block;
}
.fab-menu-overlay {
  -webkit-transition: all 0.2s ease 0.2s;
  transition: all 0.2s ease 0.2s;
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 98;
}

.fab-container{
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 999;
  cursor: pointer;
  display: flex;
}




































// .fab-container:nth-child(1) {
//     //position: absolute;
//     top: 12px;
//     left: 33px;
// }
// .fab-container:nth-child(2) {
//     top: 22px;
//     left: 0px;
// }
// .fab-container:nth-child(3) {
//   top: 22px;
// }







