
<div #self id="{{selfId}}" class="caixa" (click)="handleClickCard()">
  
        <img *ngIf="monster != null"
        draggable="false" 
        src="{{monster?.imagePath}}" alt="_blank"
        class="card-img" 
        [ngClass]="{'dead':monster.lifePercent == 0, 
        'danger': monster.lifePercent < 10 && monster.lifePercent > 0,
        'warning': monster.lifePercent > 10 && monster.lifePercent < 50,
        'safe': monster.lifePercent > 50 }" />
        <div class="fab-menu-overlay" [ngClass]="{'active':menuOpen}"></div>
        <div class="fab-container" [hidden]="!menuOpen" >
                    <button (click)="handleMove()" type="button" class="btn btn-primary bmd-btn-fab fab-options" data-toggle="tooltip" data-placement="top" title="Andar">
                        <fa-icon icon="walking"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-success bmd-btn-fab fab-options" data-toggle="tooltip" data-placement="top" title="Batalha">
                        <img src="../../../../assets/svg/sword.svg" alt="batle" height="17" width="17">
                    </button>
                    <button (click)="handleDoubleMove()" type="button" class="btn btn-danger bmd-btn-fab fab-options" data-toggle="tooltip" data-placement="top" title="Desengajar">
                        <fa-icon icon="running"></fa-icon>
                    </button>
        </div>
       
        
      
</div>