<div class="content">
  <div [id]="selfId" class="die" (click)="roll()">
    <figure class="face face-0"></figure>
    <figure class="face face-1"></figure>
    <figure class="face face-2"></figure>
    <figure class="face face-3"></figure>
    <figure class="face face-4"></figure>
    <figure class="face face-5"></figure>
    <figure class="face face-6"></figure>
    <figure class="face face-7"></figure>
    <figure class="face face-8"></figure>
    <figure class="face face-9"></figure>
  </div>
</div>