.main-screen{
    padding: 10px;
}
#drawer{
    width: 200px;
}
#sidebar ul li {
    list-style: none;
    padding: 0 16px;
}
.main-button{
    position: fixed;
    left: 12px;
    top: 12px;
}
.sidebar-header{
    height: 150px;
    padding: 24px;
}
.profile-image{
    border-radius: 100%;
    position: relative;
    height: 120px;
    width: 120px;

}
.sidebar-ul{
    list-style: none;
    padding: 8px 8px;
}
.sidebar-li{
    padding: 0px 16px;
    cursor: pointer;
    height: 56px;
    align-items: center;
    display: flex;
    border: none;
}
.active {
    background-color: yellow;
}