<mat-drawer-container class="example-container" [hasBackdrop]=true>
    <mat-drawer id="drawer" #drawer >
      <mat-card id="background-card">
        <img mat-card-avatar src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png">
        <mat-card-content>
          <p>{{userName}}</p>
        </mat-card-content>
      </mat-card>
      <mat-nav-list>
        <mat-list-item *ngFor="let item of sidebarItems;index as i" [routerLink]="item.path" (click)="changeSelected(drawer)">
          <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
          <div mat-line>{{ item.label }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="callLogout()">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <div mat-line>Sair</div>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button type="button"  class="btn btn-outline-dark btn-fab" (click)="drawer.toggle()">
          <fa-icon icon="bars"></fa-icon>
        </button>
      </nav>
      <div class="container">
        <router-outlet class="main-screen"></router-outlet>
      </div>
    </mat-drawer-content>
</mat-drawer-container>

