<!-- 
<nav class="principal-nav">
   

    <button class="navbar-toggler hidden-sm-up" type="button" 
            (click)="isNavbarCollapsed = !isNavbarCollapsed"
            data-target="#navbarsDefault" aria-controls="navbarsDefault"
             aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['monster']">Monstros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['combat']">Combate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['story']">Histórias</a>
        </li>
       
      </ul>
      <button mat-button [matMenuTriggerFor]="menu">
        <span>{{userName}} </span>
        <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" class="rounded user-image" alt="Cinque Terre">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="callLogout()">Sair</button>
      </mat-menu>
      
    
    </div>
  </nav>

  &nbsp;
  <br>
  <br>
  <br>
  <br> -->
  <mat-drawer-container class="example-container" [hasBackdrop]=true>
    <mat-drawer id="drawer" #drawer [mode]="push">
      <div id="drawer">
        <ul>
          <li [routerLink]="['story']">Historias</li>
          <li [routerLink]="['monster']">Monstros</li>
        </ul>
      </div>
      
    </mat-drawer>
    <mat-drawer-content>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button type="button"  class="btn btn-outline-dark btn-fab" (click)="drawer.toggle()">
          <fa-icon icon="bars"></fa-icon>
        </button>
      </nav>
      <div class="container">

        <router-outlet class="main-screen"></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

